@{
    ViewBag.Title = "About";
}
<main>
    <div>
        <div>
            <h2 class="products-page-title">
                About Furni
            </h2>
        </div>
        <div>
            <p>
                Welcome to Furni, where we believe that a well-furnished home
                is a reflection of your unique style and personality.
            </p>
        </div>
        <div>
            <p>
                At Furni, we understand the importance of creating spaces that are not
                only functional but also beautiful and inviting. Whether you're furnishing
                your first apartment, updating your family home, or decorating your office
                space, we have everything you need to bring your vision to life.
            </p>
        </div>
        <div>
            <p>
                Our curated collection features a wide range of high-quality furniture pieces,
                from timeless classics to modern designs. From cozy sofas and elegant dining
                sets to stylish bedroom furniture and functional office solutions, we offer
                something for every taste and budget.
            </p>
        </div>
        <div>
            <p>
                With a commitment to exceptional quality and customer satisfaction, we
                carefully source our products from trusted manufacturers and artisans around
                the world. Each piece is crafted with precision and attention to detail,
                ensuring durability and longevity for years to come.
            </p>
        </div>
        <div>
            <p>
                At Furni, we believe that furniture shopping should be a delightful experience
                from start to finish. That's why we provide personalized service and expert
                guidance every step of the way. Whether you need help choosing the perfect
                piece or arranging delivery and assembly, our team is here to assist you with
                friendly and knowledgeable support.
            </p>
        </div>
        <div>
            <p>
                Thank you for choosing Furni for all your furniture needs. We look forward to
                helping you create a space that you'll love coming home to.
            </p>
        </div>

    </div>
</main>